/*
Craig Phephles
cf.css
16WI_INFO_2900_6A - Hybrid - 360 Web Part 1
Instructors: Brown/McCune/Paschall/Rosas
date: 1.2.17
*/

/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}
#container {
    width: 80%; 
    min-width: 700px;
    max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 15px 15px 15px; 
    box-shadow: 3px 3px 3px #666666;
    border-radius: 15px;
    background-color: #6495ED;
}
header {
    background: url(images/milestone2.png) no-repeat center;
    height: 175px;
}	
nav {
    text-align: center;
}
nav li { display: inline-block; padding: 0 3em 0 0; }
footer li { display: inline-block; }
aside { text-align: right; font-style: italic;}
.menu { border-top: 1px solid #97aff7;
		  background: rgba(68,128,255,.6);
		  padding: 5px 10px 5px;
		  border-radius: 16px;
		  box-shadow: rgba(0,0,0,.6) 0 1px 0;
			text-shadow: rgba(0,0,0,.4) 0 1px 0;
			color: #000000;
			font-size: 13px;
			font-family: Georgia, serif;
			text-decoration: none;
			vertical-align: middle;
		}
.menu:hover { background: #28597a;
				color: #ccc;
   }
.menu:active { background: #1b435e; }
.menu:visited { background: #DCDCDC; }
